
html{
    width: 100vw;
    height: 100vh;
    /* background-color: black; */
}

body{
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
    background-image: url(image/rug009.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
header{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* flex-direction: column; */
    width: 90vw;
    height: auto;
    /* overflow: scroll; */
    /* background-color: black; */
}


main{
    width: 90vw;
    /* background-color: black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: column; */
}

img{
    width: calc(90vw/15);
    height: calc(90vw/15);
    border-radius: 20%;
}
.out{
    border-radius: 20%;
}
.open{
    width: calc(90vw/15);
    height: calc(90vw/15);
}
button{
    padding: 0%;
    margin: 0%;
    border: none;
}

p{
    font-size: 50%;
}
img:hover{
    border: none;
    transform: scale(2,2);
    transition-duration: 0.3s;
}