
html{
    width: 100vw;
    height: 100vh;
    /* background-color: black; */
    
    background-color: chartreuse;
}

body{
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
    /* background-image: url(image/rug009.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
}
header{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* flex-direction: column; */
    width: 90vw;
    height: auto;
    /* overflow: scroll; */
    /* background-color: black; */
}


main{
    width: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: column; */
    background-color: chartreuse;
}
.list{
    z-index: 100;
}
.back_image{
    z-index: 10;
}
.back_image{
    
    background-image: url(image/rug009.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.free{
    width: calc(90vw/15);
    height: calc(90vh);
}

img{
    width: calc(90vw/15);
    height: calc(90vw/15);
    border-radius: 20%;
}
.out{
    border-radius: 20%;

    background-color: dodgerblue;

}
.open{
    width: calc(90vw/15);
    height: calc(90vw/15);

    background-color: dodgerblue;
}
button{
    padding: 0%;
    margin: 0%;
    border: none;
}

p{
    font-size: 100%;
}
img:hover{
    border: none;
    transform: scale(2,2);
    transition-duration: 0.3s;
}