html{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
input{
    width: 100%;
}
fieldset{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inside{
    width: 60%;
}